@model Rush_App.Models.EventViewModel
@{
    ViewBag.Title = "Event";
}

<div class="panel panel-default" style="margin:auto;">
    <div class="panel-body">
        <h2>@Model.Event.Name</h2>
        <h4>@Model.Event.Date.Value.ToShortDateString(), @Model.Event.StartTime.Value.ToShortTimeString() - @Model.Event.EndTime.Value.ToShortTimeString()</h4>
        <p>@Model.Event.Description</p>

    </div>
</div>
<div class="row" style="margin-top:15px;">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <fieldset>
                    <legend id="status">Your Status: @(Model.UserEvent?.Status != null ? Model.UserEvent.Status : "Not Attending")</legend>
                    <div class="btn-group-vertical" style="width:100%;">
                        <button type="button" class="btn btn-primary" onclick="setAttendance('Attending')">Attending</button>
                        <button type="button" class="btn btn-danger" onclick="setAttendance('Not Attending')">Not Attending</button>
                        <button type="button" class="btn btn-warning" onclick="setAttendance('Maybe Attending')">Maybe Attending</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <fieldset>
                    <legend>Members Attending</legend>
                    <ul class="list-group">
                        @foreach (var member in Model.UsersAttending.Where(x => x.GreekID != null).Take(5))
                        {
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">@Html.ActionLink(member.FirstName + " " + member.LastName, "Profile", new { id = member.ID }, new { })</h4>
                                <p class="list-group-item-text">@member.Year - @member.Major</p>
                            </li>
                        }
                        @if (Model.UsersAttending.Where(x => x.GreekID != null).Count() == 0)
                        {
                            <p>No Members have signed up yet.</p>
                        }
                    </ul>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <fieldset>
                    <legend>Rushees Attending</legend>
                    <ul class="list-group">
                        @foreach (var member in Model.UsersAttending.Where(x => x.GreekID == null).Take(5))
                        {
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading">@Html.ActionLink(member.FirstName + " " + member.LastName,"Profile", new { id = member.ID },new { })</h4>
                                <p class="list-group-item-text">@member.Year - @member.Major</p>
                            </li>
                        }
                    </ul>
                    @if(Model.UsersAttending.Where(x => x.GreekID == null).Count() == 0)
                    {
                        <p>No Rushees have signed up yet.</p>
                    }
                </fieldset>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function setAttendance(status) {
        $.ajax({
            url: '@Url.Action("SetAttendance",new { })',
            data: {
                eventID: '@Model.Event.ID',
                status: status
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //console.log(data);
                $("#status").text("Your Status: " + data);
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>