@model Rush_App.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Calendar</h2>
                <ul class="list-group">
                    @foreach (var e in Model.Events.Take(5))
                    {
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">@Html.ActionLink(e.Name, "Event", new { id = e.ID })</h4>
                            <i>Hosted by @e.House.Name</i>
                            <p class="list-group-item-text">@e.Date.Value.ToShortDateString(), @e.StartTime.Value.ToShortTimeString() - @e.EndTime.Value.ToShortTimeString()</p>
                        </li>
                    }
                </ul>
                @if (Model.Events.Count() > 5)
                {
                    <button class="btn btn-success">See All</button>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Rush @DateTime.Now.Year</h2>
                <ul class="list-group">
                    @foreach (var rushee in Model.Rushees.Take(5))
                    {
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading"> @Html.ActionLink(rushee.FirstName + " " + rushee.LastName, "Profile", new { userId = rushee.ID })</h4>
                            <p class="list-group-item-text">@rushee.Hometown, @rushee.HomeState</p>
                        </li>
                    }
                </ul>
                @if (Model.Rushees.Count() > 5)
                {
                    <button class="btn btn-success">See All</button>
                }
            </div>
        </div>
    </div>
    @if (Model.Members != null && Model.Members.Count() > 0)
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>@Model.User.House.Name</h2>
                    <ul class="list-group">
                        @foreach (var members in Model.Members.Take(5))
                        {
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading"> @Html.ActionLink(members.FirstName + " " + members.LastName, "Profile", new { userId = members.ID })</h4>
                                <p class="list-group-item-text">@members.Hometown, @members.HomeState</p>
                            </li>
                        }
                    </ul>
                    @if (Model.Members.Count() > 5)
                {
                        <button class="btn btn-success">See All</button>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Houses</h2>
                    <ul class="list-group">
                        @foreach (var house in Model.Houses.Take(5))
                        {
                            <li class="list-group-item">
                                <h4 class="list-group-item-heading"> @Html.ActionLink(house.Name, "House", new { houseId = house.ID })</h4>
                                <p class="list-group-item-text">Founded @house.YearFounded</p>
                            </li>
                        }
                    </ul>
                    @if (Model.Houses.Count() > 5)
                {
                        <button class="btn btn-success">See All</button>
                    }
                </div>
            </div>
        </div>
    }

</div>